<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SunFlower.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>043E42851EB7744C001C56F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043E42A11EB7744D001C56F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043E42AC1EB7744D001C56F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
